/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6/03/2021, 04:54:33 AM
    Author     : FamiliaMoreno
*/
#aCursosA{
    color: #f1f1f1;
    background-color: #151515;
    border-left: 0.5rem solid #b02a1f;
}
.box{
    margin-left: 15%!important;
}

#tituloMisCursos{
    font-family: 'Anton', sans-serif;
    color: #cf6955;
}
.card{
    width: 100%;
    height: 330px;
    padding: 0;
    border-radius: 8px;
    /* box-shadow: 0 2px 2px rgba(0, 0, 1, 0.2);*/
    overflow: hidden;
    margin: 20px;
    /*text-align: center;*/
    transition: all 0.25s;
    background-color:transparent!important;
    border: none!important;
    border-radius:0!important;
    padding:0!important;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2) ;
}

.imagen{
    /* width: 330px;*/
    width: 100%;
    object-fit: cover;
    /*display: flex;*/
    position: relative;   
    transition: all 0.25s;
}

.contenido{
    height: 100% !important;
    background-color: #E6E6E6;
    position: relative;
    padding: 20px;
}
.card  .titulo{
    font-family: 'Roboto', sans-serif;
    display: -webkit-box!important;
    -webkit-line-clamp: 2!important;
    -webkit-box-orient: vertical;
    color: #171717;  
    left: 0;
    right: 0;
    margin-top: 10px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;

}
.autorCard{
    color: #7b7b7b;
    display: -webkit-box!important;
    -webkit-line-clamp: 2!important;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}


.imagen:hover{
    transform: scale(1.2);
    object-fit: cover;
    opacity: 0.6;
}

.cajaProgresoTotal{
    width: 100%;
    height: 5px;
    background-color: #f1f1f1;
    border-radius: 5px;
    margin-top: 1rem;
}

.cajaProgresoActual{
    width: 25%;
    height: 5px;
    background-color: #b02a1f;
    border-radius: 5px;
}
.progresoLabel{
    font-size: smaller;
    color: #171717;
}

.enlaceCurso{
    color: #cf6955;
    position: absolute;
    bottom: 1rem;
}

.enlaceCurso:hover{
    text-decoration: none;
    color: #d2998e;
}

.page-link{
    background-color:#E6E6E6!important;
    color: #972e25!important;
    margin-top: 2rem;
}