/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31/05/2021, 11:36:59 AM
    Author     : FamiliaMoreno
*/
.decoracion{
    border-bottom: solid 2px #cf6955;
    color:#cf6955!important;
}
.hide{
    display: none;
}

.show{
    display: block;
}
.menuCurso{
    display: flex;
    color: #7b4135;
    padding-left: 1rem;
    background-color: #272626;

}
.menuCurso a{
    margin: 1rem 1rem 0 0 ;
    padding-bottom: 0.5rem;
    font-weight: bold;
    color: #7b4135;
}
.menuCurso a:hover{
    text-decoration: none;
     color:#cf6955;
}
.boxMC{
    background-color: #333232;
}


.bg-light {
    background-color: #171717 !important;
}


#Infocursos{
    background-color: #3c3b3b;
    /* width: 1536px; */
    width: auto;
    height: 20%;

}

#Infocursos2{
    background-color: #333232;
    /* width: 1536px; 
    width: auto;
    height: 400px;
    position: relative;*/

}

.row{
   /* margin-right:0!important;
    margin-left:0!important;*/
}

 .card{
    width: 100%;
    height: 330px;
    padding: 0;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
    transition: all 0.25s;
    background-color:transparent!important;
    border: none!important;
    border-radius:0!important;
    padding:0!important;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2) ;
} 


.imagen{
    /* width: 330px;*/
    width: 100%;
    height: 20rem;
    object-fit: cover;
    /*display: flex;*/
    position: relative;   
    transition: all 0.25s;
}

.contenido{
    height: 100% !important;
    background-color: #E6E6E6;
    position: relative;
    padding: 20px;
}
 .titulo{
    font-family: 'Roboto', sans-serif;
    display: -webkit-box!important;
    -webkit-line-clamp: 1!important;
    -webkit-box-orient: vertical;
    color: #171717;  
    left: 0;
    right: 0;
    margin-top: 10px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;

} 
.autorCard{
    color: #7b7b7b;
     display: -webkit-box!important;
    -webkit-line-clamp: 1!important;
    -webkit-box-orient: vertical;
        overflow: hidden;
    text-overflow: ellipsis;
}
.precioCard{
    font-weight: bold;
    color: #cf6955;
}

.imagen:hover{
    transform: scale(1.2);
    object-fit: cover;
    opacity: 0.6;
}

.vl {
    border-left: 3px solid #972e25;
    height: 300px;
    margin-top: 43px;
}
.boxSlide{
    margin:1rem!important;
}
.boxInfo{
    align-self: center;
}
.info2{
    padding: 10px;
    align-self: center;
    margin-left: 20rem;
}
.infoMC, .info{
     border-right:   3px solid #972e25;
}
.info h3, .info2 h1, .infoMC h3{
    font-family: 'Anton', sans-serif;
    color: #972e25;
}

.info h5, .info2 h5, .infoMC h5{
    color:#E6E6E6;
}

#imgM  {
    height: 300px;
    width:300px;
    border-radius: 400px;
    margin:30px;
    margin-left:5%;
    margin-right: 15rem;
    object-fit: fill;
}

#btnInicio{
    width:100%!important;
    height: 50px;
    background-color: #972e25!important;
    border-color: #972e25;
    margin-top: 1.5rem;
    text-align: center;
    font-weight: bold;
    font-size: large;
    padding:10px;
}

.container-info{
    margin-top:0!important;
}