/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22/02/2021, 07:45:38 PM
    Author     : Familia Moreno
*/
#aMiCuenta{
    color: #f1f1f1;
    background-color: #151515;
    border-left: 0.5rem solid #b02a1f;
}
body {
    background-color: #333232;
}

.form-box{
    font-family: 'Roboto', sans-serif;
    padding: 60px;
    left: 10%;
    right: 0;
    margin: 10% auto;
    width: 75%!important;
    position: relative;
    border-radius: 10px;
    color: #E6E6E6;
}

.form-groupImage{
    text-align: center;
    margin-bottom:10px;
}

#browse{
  display: none;
}

#topImage{
    width:100px;
    height: 100px;
    border-radius: 50px;
    object-fit: cover;
   /* transition: opacity 1.3s ease-in-out;*/
}
#topImage:hover{
    opacity: 0.9;
}
#btnModificarUsuario, #btnEliminarUsuario{
    font-family: 'Roboto', sans-serif;
    background-color: #972e25!important;
    border: none!important;
    margin-bottom: 1rem;
    width: 48%!important;
}

#btnEliminarUsuario{
    background-color: #8c8b8b!important;
    width: 48%!important;
    float:right;
}
.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 0.5rem;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: medium;
    font-weight: bold;
    margin-top: 1rem;
}
.collapsible:hover {
    background-color: #555;
}
#btnCambiarContraseña{
    background-color: #3c3c3c;
    border-color: #3c3c3c;
}

#btnCambiarContraseña:hover{
    background-color: #313131;
    border-color: #313131;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #9c9c9c;
    border-radius: 0 0 5px 5px;
}

@media(max-width: 768px){
    .form-box{
        width: 100%!important;
        padding: 50px 30px 30px 30px;
        margin: auto;
        top:0;
        bottom:0;
        left:0;
        right:0;
        width: 100%;
        height: 100%;
    }

}